
name: Check on commit

on:
  push:
    branches:
      - "master"
      - "develop"
      - "feature_*"
      - "fix_*"
  workflow_dispatch:

jobs:
  tests:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Clean installation of project
        run: npm ci
      - name: Run unit tests
        run: npm run tests:all


  dry-build:
    name: Dry build
    runs-on: ubuntu-latest
    needs: [ tests ]
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Clean installation of project
        run: npm ci
      - name: Build
        run: npm run build
  
  dry-publish:
    name: Dry Publish
    needs: [ dry-build, tests ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup node enviroment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
      - name: Clean install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Publish to NPM
        run: npm publish --access public --dry-run
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
